@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote before,
blockquote after {
  content: '';
  content: none;
}
q before,
q after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
a:hover {
  opacity: 0.8;
}
body {
  font-family: 'ヒラギノ角ゴシック', 'Hiragino Sans', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
.cfx:after {
  content: "";
  display: block;
  clear: both;
}
.flL {
  float: left;
}
.flR {
  float: right;
}
.txL {
  text-align: left;
}
.txC {
  text-align: center;
}
.txR {
  text-align: right;
}
.tab1 {
  padding-left: 20px;
}
.tab2 {
  padding-left: 40px;
}
.tab3 {
  padding-left: 60px;
}
.bold {
  font-weight: bold;
}
.inner {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.inner2 {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}
.inner3 {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}
ol.cfx li,
ul.cfx li {
  float: left;
}
ol {
  list-style: none;
}
.pc-display {
  display: block;
}
.sp-display,
.sp-indisplay {
  display: none;
}
@media (min-width: 767px) {
  .pc-block {
    display: block;
  }
  .pc-inblock {
    display: inline;
  }
}
@media (max-width: 767px) {
  .sp-block {
    display: block;
  }
  .pc-display,
  .pc-indisplay {
    display: none;
  }
  .sp-display {
    display: block;
  }
  .sp-indisplay {
    display: inline-block;
  }
}
header {
  position: absolute;
  z-index: 9000;
  top: 0;
  width: 100%;
  height: 86px;
  background: #fff;
  border-bottom: 4px solid #000;
}
header h1 {
  padding: 18px 36px;
}
header h1 img {
  width: 100%;
}
header #nav_btn {
  display: none;
}
header nav {
  padding: 36px;
}
header nav ul li {
  font-size: 14px;
  padding: 0 30px 0 0;
}
header nav ul li a {
  color: #000;
}
footer {
  position: relative;
}
footer p {
  font-size: 11px;
  padding: 50px 0;
  color: #fff;
  background: #3f4146;
}
footer .page-top {
  position: absolute;
  right: 20px;
  bottom: 109px;
}
footer .page-top .circle {
  width: 85px;
  height: 85px;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 14px;
  color: #fff;
  line-height: 1.6;
  background: #221f1e;
  border-radius: 50%;
  box-sizing: border-box;
}
@media (max-width: 900px) {
  header #nav_btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 9999;
    border: 3px solid #000;
    border-radius: 5px;
    display: inline-block;
    transition: all 0.3s;
    box-sizing: border-box;
  }
  header .menu-trigger {
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
    transition: all 0.3s;
    box-sizing: border-box;
  }
  header .menu-trigger span {
    display: inline-block;
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    left: 10%;
    width: 80%;
    height: 4px;
    background: #000;
    border-radius: 4px;
  }
  header .menu-trigger span:nth-of-type(1) {
    top: 10px;
  }
  header .menu-trigger span:nth-of-type(2) {
    top: 20px;
  }
  header .menu-trigger span:nth-of-type(3) {
    bottom: 10px;
  }
  header .menu-trigger.active span:nth-of-type(1) {
    transform: translateY(10px) rotate(-45deg);
  }
  header .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
  }
  header .menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-10px) rotate(45deg);
  }
  header nav {
    display: none;
    width: 100%;
    padding: 0;
    background: #fff;
  }
  header nav ul li {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
  }
  header nav ul li a {
    display: block;
    width: 100%;
    padding: 20px 0;
  }
}
#main {
  background: url("../img/index/main_back.png") no-repeat;
  background-position: top;
  background-size: 100% auto;
}
#main .inner {
  padding: 15% 0 10%;
}
#main .inner img {
  width: 45%;
}
#main .inner h2 {
  font-weight: normal;
  font-size: 24px;
  color: #fff;
}
#sub-nav {
  background: linear-gradient(90deg, #015f9c 50%, #095d41 50%);
}
#sub-nav ul li {
  display: table;
  width: 33.333333333333336%;
  height: 200px;
  text-align: center;
}
#sub-nav ul li:nth-child(1) {
  background: #0067a9;
}
#sub-nav ul li:nth-child(1) a span:before {
  right: 20px;
  border-right: 20px solid #005d99;
  border-left: 0 solid transparent;
}
#sub-nav ul li:nth-child(1) a span:after {
  left: 20px;
  border-right: 0 solid transparent;
  border-left: 20px solid #005d99;
}
#sub-nav ul li:nth-child(2) {
  background: #063582;
}
#sub-nav ul li:nth-child(2) a span:before {
  right: 20px;
  border-right: 20px solid #032f77;
  border-left: 0 solid transparent;
}
#sub-nav ul li:nth-child(2) a span:after {
  left: 20px;
  border-right: 0 solid transparent;
  border-left: 20px solid #032f77;
}
#sub-nav ul li:nth-child(3) {
  background: #0d6245;
}
#sub-nav ul li:nth-child(3) a span:before {
  right: 20px;
  border-right: 20px solid #085a3e;
  border-left: 0 solid transparent;
}
#sub-nav ul li:nth-child(3) a span:after {
  left: 20px;
  border-right: 0 solid transparent;
  border-left: 20px solid #085a3e;
}
#sub-nav ul li a {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  line-height: 1.7;
}
#sub-nav ul li a span {
  position: absolute;
  z-index: 100;
  width: 40px;
  height: 40px;
  left: 45%;
  bottom: -10%;
}
#sub-nav ul li a span:before,
#sub-nav ul li a span:after {
  content: '';
  position: absolute;
  z-index: 10;
  top: 0;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
#sub-nav ul li a span img {
  position: relative;
  top: 15%;
  z-index: 100;
  width: 30%;
}
#contents-wrap {
  background: #f7f8fa;
}
#contents-wrap .inner {
  padding: 1px 0 185px;
  background: #fff;
}
#contents-wrap .inner #content01 {
  margin-top: 150px;
}
#contents-wrap .inner #content01 h3 {
  background: url("../img/index/key_v01.png") no-repeat center;
  background-size: 100% auto;
  margin: 0 0 30px;
  padding: 12% 0;
  font-size: 30px;
  color: #fff;
  font-weight: normal;
}
#contents-wrap .inner #content01 .inner3 h4 {
  margin: 30px 0;
  font-size: 18px;
  line-height: 1.7;
  padding: 0 0 0 15px;
  border-left: 4px solid #11639d;
}
#contents-wrap .inner #content01 .inner3 p {
  font-size: 14px;
  line-height: 2;
  padding: 0 0 50px;
}
#contents-wrap .inner #content01 .inner3 .today-flow {
  display: table;
  width: 100%;
  padding: 0 0 50px;
  background: url("../img/index/flow.png") no-repeat;
  background-size: 100% auto;
}
#contents-wrap .inner #content01 .inner3 .today-flow li {
  display: table-cell;
  width: 20%;
  font-size: 14px;
  text-align: center;
  height: 120px;
  line-height: 2;
  vertical-align: middle;
}
#contents-wrap .inner #content01 .inner3 .today-flow li span {
  padding: 0 10px 0 0;
}
#contents-wrap .inner #content01 .inner3 .cfx {
  margin: 0 0 60px;
}
#contents-wrap .inner #content01 .inner3 .cfx table {
  font-size: 12px;
  text-align: left;
}
#contents-wrap .inner #content01 .inner3 .cfx table.table-left {
  margin: 0 30px 0 0;
}
#contents-wrap .inner #content01 .inner3 .cfx table.table-left tr {
  height: 60px;
}
#contents-wrap .inner #content01 .inner3 .cfx table.table-left tr:last-child {
  border-bottom: 1px solid #e0e0e0;
}
#contents-wrap .inner #content01 .inner3 .cfx table.table-left tr th {
  vertical-align: middle;
}
#contents-wrap .inner #content01 .inner3 .cfx table.table-left tr td {
  width: 250px;
}
#contents-wrap .inner #content01 .inner3 .cfx table.table-right tr {
  height: 180px;
  border-bottom: 1px solid #e0e0e0;
}
#contents-wrap .inner #content01 .inner3 .cfx table.table-right tr td {
  width: 440px;
}
#contents-wrap .inner #content01 .inner3 .cfx table tr {
  border-top: 1px solid #e0e0e0;
  box-sizing: border-box;
}
#contents-wrap .inner #content01 .inner3 .cfx table tr th {
  width: 120px;
  padding: 15px 20px;
  background: #f7f8fa;
  box-sizing: border-box;
}
#contents-wrap .inner #content01 .inner3 .cfx table tr td {
  padding: 15px 20px;
  line-height: 2;
  box-sizing: border-box;
}
#contents-wrap .inner #content01 .inner3 .cfx table tr td .bold {
  display: block;
  padding: 0 0 20px;
}
#contents-wrap .inner #content01 .inner3 .btn {
  display: table;
  width: 480px;
  height: 95px;
  margin: 0 auto;
  background: #221f1e;
}
#contents-wrap .inner #content01 .inner3 .btn a {
  display: table-cell;
  width: 100%;
  hright: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
}
@media (max-width: 767px) {
  #contents-wrap .inner #content01 {
    margin-top: 0;
  }
  #contents-wrap .inner #content01 h3 {
    background-size: auto 100%;
    padding: 20% 0;
  }
  #contents-wrap .inner #content01 .inner3 .today-flow {
    display: block;
    width: 40%;
    margin: 0 auto;
    padding: 0 0 20px;
    background: none;
  }
  #contents-wrap .inner #content01 .inner3 .today-flow li {
    display: block;
    width: 100%;
    height: 80px;
  }
  #contents-wrap .inner #content01 .inner3 .cfx table {
    width: 95%;
    margin: 0 auto;
  }
  #contents-wrap .inner #content01 .inner3 .cfx table.table-left {
    margin: 0;
  }
  #contents-wrap .inner #content01 .inner3 .cfx table.table-left tr:last-child {
    border-bottom: 0;
  }
  #contents-wrap .inner #content01 .inner3 .cfx table tr th {
    width: 25% !important;
  }
  #contents-wrap .inner #content01 .inner3 .cfx table tr td {
    width: 75% !important;
  }
  #contents-wrap .inner #content01 .inner3 .btn {
    width: 80%;
    margin: 0 auto 60px;
  }
}
#contents-wrap .inner #content02 {
  margin-top: 130px;
}
#contents-wrap .inner #content02 h3 {
  background: url("../img/index/key_v02.png") no-repeat center;
  background-size: 100% auto;
  margin: 0 0 30px;
  padding: 12% 0;
  font-size: 30px;
  color: #fff;
  font-weight: normal;
}
#contents-wrap .inner #content02 .inner3 h4 {
  margin: 30px 0;
  font-size: 18px;
  line-height: 1.7;
  padding: 0 0 0 15px;
  border-left: 4px solid #032f77;
}
#contents-wrap .inner #content02 .inner3 p {
  font-size: 14px;
  line-height: 2;
  padding: 0 0 50px;
}
#contents-wrap .inner #content02 .inner3 .today-flow {
  display: table;
  width: 100%;
  padding: 0 0 50px;
  background: url("../img/index/flow.png") no-repeat;
  background-size: 100% auto;
}
#contents-wrap .inner #content02 .inner3 .today-flow li {
  display: table-cell;
  width: 20%;
  font-size: 14px;
  text-align: center;
  height: 120px;
  line-height: 2;
  vertical-align: middle;
}
#contents-wrap .inner #content02 .inner3 .today-flow li span {
  padding: 0 10px 0 0;
}
#contents-wrap .inner #content02 .inner3 .cfx {
  margin: 0 0 60px;
}
#contents-wrap .inner #content02 .inner3 .cfx table {
  font-size: 12px;
  text-align: left;
}
#contents-wrap .inner #content02 .inner3 .cfx table.table-left {
  margin: 0 30px 0 0;
}
#contents-wrap .inner #content02 .inner3 .cfx table.table-left tr {
  height: 60px;
}
#contents-wrap .inner #content02 .inner3 .cfx table.table-left tr:last-child {
  border-bottom: 1px solid #e0e0e0;
}
#contents-wrap .inner #content02 .inner3 .cfx table.table-left tr th {
  vertical-align: middle;
}
#contents-wrap .inner #content02 .inner3 .cfx table.table-left tr td {
  width: 250px;
}
#contents-wrap .inner #content02 .inner3 .cfx table.table-right tr {
  height: 180px;
  border-bottom: 1px solid #e0e0e0;
}
#contents-wrap .inner #content02 .inner3 .cfx table.table-right tr td {
  width: 440px;
}
#contents-wrap .inner #content02 .inner3 .cfx table tr {
  border-top: 1px solid #e0e0e0;
  box-sizing: border-box;
}
#contents-wrap .inner #content02 .inner3 .cfx table tr th {
  width: 120px;
  padding: 15px 20px;
  background: #f7f8fa;
  box-sizing: border-box;
}
#contents-wrap .inner #content02 .inner3 .cfx table tr td {
  padding: 15px 20px;
  line-height: 2;
  box-sizing: border-box;
}
#contents-wrap .inner #content02 .inner3 .cfx table tr td .bold {
  display: block;
  padding: 0 0 20px;
}
#contents-wrap .inner #content02 .inner3 .btn {
  display: table;
  width: 480px;
  height: 95px;
  margin: 0 auto;
  background: #221f1e;
}
#contents-wrap .inner #content02 .inner3 .btn a {
  display: table-cell;
  width: 100%;
  hright: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
}
@media (max-width: 767px) {
  #contents-wrap .inner #content02 {
    margin-top: 0;
  }
  #contents-wrap .inner #content02 h3 {
    background-size: auto 100%;
    padding: 20% 0;
  }
  #contents-wrap .inner #content02 .inner3 .today-flow {
    display: block;
    width: 40%;
    margin: 0 auto;
    padding: 0 0 20px;
    background: none;
  }
  #contents-wrap .inner #content02 .inner3 .today-flow li {
    display: block;
    width: 100%;
    height: 80px;
  }
  #contents-wrap .inner #content02 .inner3 .cfx table {
    width: 95%;
    margin: 0 auto;
  }
  #contents-wrap .inner #content02 .inner3 .cfx table.table-left {
    margin: 0;
  }
  #contents-wrap .inner #content02 .inner3 .cfx table.table-left tr:last-child {
    border-bottom: 0;
  }
  #contents-wrap .inner #content02 .inner3 .cfx table tr th {
    width: 25% !important;
  }
  #contents-wrap .inner #content02 .inner3 .cfx table tr td {
    width: 75% !important;
  }
  #contents-wrap .inner #content02 .inner3 .btn {
    width: 80%;
    margin: 0 auto 60px;
  }
}
#contents-wrap .inner #content03 {
  margin-top: 130px;
}
#contents-wrap .inner #content03 h3 {
  background: url("../img/index/key_v03.png") no-repeat center;
  background-size: 100% auto;
  margin: 0 0 30px;
  padding: 12% 0;
  font-size: 30px;
  color: #fff;
  font-weight: normal;
}
#contents-wrap .inner #content03 .inner3 h4 {
  margin: 30px 0;
  font-size: 18px;
  line-height: 1.7;
  padding: 0 0 0 15px;
  border-left: 4px solid #085a3e;
}
#contents-wrap .inner #content03 .inner3 p {
  font-size: 14px;
  line-height: 2;
  padding: 0 0 50px;
}
#contents-wrap .inner #content03 .inner3 .today-flow {
  display: table;
  width: 100%;
  padding: 0 0 50px;
  background: url("../img/index/flow.png") no-repeat;
  background-size: 100% auto;
}
#contents-wrap .inner #content03 .inner3 .today-flow li {
  display: table-cell;
  width: 20%;
  font-size: 14px;
  text-align: center;
  height: 120px;
  line-height: 2;
  vertical-align: middle;
}
#contents-wrap .inner #content03 .inner3 .today-flow li span {
  padding: 0 10px 0 0;
}
#contents-wrap .inner #content03 .inner3 .cfx {
  margin: 0 0 60px;
}
#contents-wrap .inner #content03 .inner3 .cfx table {
  font-size: 12px;
  text-align: left;
}
#contents-wrap .inner #content03 .inner3 .cfx table.table-left {
  margin: 0 30px 0 0;
}
#contents-wrap .inner #content03 .inner3 .cfx table.table-left tr {
  height: 60px;
}
#contents-wrap .inner #content03 .inner3 .cfx table.table-left tr:last-child {
  border-bottom: 1px solid #e0e0e0;
}
#contents-wrap .inner #content03 .inner3 .cfx table.table-left tr th {
  vertical-align: middle;
}
#contents-wrap .inner #content03 .inner3 .cfx table.table-left tr td {
  width: 250px;
}
#contents-wrap .inner #content03 .inner3 .cfx table.table-right tr {
  height: 180px;
  border-bottom: 1px solid #e0e0e0;
}
#contents-wrap .inner #content03 .inner3 .cfx table.table-right tr td {
  width: 440px;
}
#contents-wrap .inner #content03 .inner3 .cfx table tr {
  border-top: 1px solid #e0e0e0;
  box-sizing: border-box;
}
#contents-wrap .inner #content03 .inner3 .cfx table tr th {
  width: 120px;
  padding: 15px 20px;
  background: #f7f8fa;
  box-sizing: border-box;
}
#contents-wrap .inner #content03 .inner3 .cfx table tr td {
  padding: 15px 20px;
  line-height: 2;
  box-sizing: border-box;
}
#contents-wrap .inner #content03 .inner3 .cfx table tr td .bold {
  display: block;
  padding: 0 0 20px;
}
#contents-wrap .inner #content03 .inner3 .btn {
  display: table;
  width: 480px;
  height: 95px;
  margin: 0 auto;
  background: #221f1e;
}
#contents-wrap .inner #content03 .inner3 .btn a {
  display: table-cell;
  width: 100%;
  hright: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
}
@media (max-width: 767px) {
  #contents-wrap .inner #content03 {
    margin-top: 0;
  }
  #contents-wrap .inner #content03 h3 {
    background-size: auto 100%;
    padding: 20% 0;
  }
  #contents-wrap .inner #content03 .inner3 .today-flow {
    display: block;
    width: 40%;
    margin: 0 auto;
    padding: 0 0 20px;
    background: none;
  }
  #contents-wrap .inner #content03 .inner3 .today-flow li {
    display: block;
    width: 100%;
    height: 80px;
  }
  #contents-wrap .inner #content03 .inner3 .cfx table {
    width: 95%;
    margin: 0 auto;
  }
  #contents-wrap .inner #content03 .inner3 .cfx table.table-left {
    margin: 0;
  }
  #contents-wrap .inner #content03 .inner3 .cfx table.table-left tr:last-child {
    border-bottom: 0;
  }
  #contents-wrap .inner #content03 .inner3 .cfx table tr th {
    width: 25% !important;
  }
  #contents-wrap .inner #content03 .inner3 .cfx table tr td {
    width: 75% !important;
  }
  #contents-wrap .inner #content03 .inner3 .btn {
    width: 80%;
    margin: 0 auto 60px;
  }
}
@media (max-width: 1200px) {
  #main {
    background-size: auto 100%;
    background-position: bottom;
  }
}
@media (max-width: 767px) {
  #main .inner {
    padding: 40% 0 20%;
  }
  #sub-nav ul li {
    width: 100%;
    height: 100px;
  }
  #sub-nav ul li a span {
    left: 85%;
    bottom: 35%;
  }
  #sub-nav ul li a span:before,
  #sub-nav ul li a span:after {
    border: none;
  }
  #contents-wrap .inner {
    padding: 0;
  }
  #contents-wrap .inner #content01,
  #contents-wrap .inner #content02,
  #contents-wrap .inner #content03 {
    padding: 0;
  }
}
