//- common footer
footer
  p.txC Copyright © 2017 RIZAP GROUP inc. All rights reserved.
  a.page-top(href='#')
    .circle.txC
      | PAGE
      br
      | TOP
    .image
      img(src='./img/index/p-top.png' alt='ページトップへ')
