//- common header
header.cfx
  h1.flL
    img(src='./img/common/logo.png',alt='ロゴ')
  #nav_btn.menu-trigger
    span
    span
    span
  nav.flR
    ul.cfx
      li
        a(href='#') M&amp;Aを体感する
      li
        a(href='#') マーケティングを体感する
      li
        a(href='#') 事業創造を体感する
