//-meta
-
  var pages = {
    top : {
      title : 'rizap -TOP-',
      description : 'rizapトップページコーディング',
      keywords : 'rizap'
    }
    // content_b : {
    //   url : 'content_b.html',
    //   name : 'コンテントB',
    //   title : 'コンテントB',
    //   description : 'コンテントBです',
    //   keywords : 'コンテントB',
    //   image : 'img/ogp.jpg'
    // },
  }
